.sidebar{
    // opacity: 0;
    // pointer-events: none;
    position: fixed;
    background-color: $textColor3;
    right: 15px;
    z-index: 2;

    >div{
        padding: 14px 30px;
        font-size: 16px;
        color: white;
    }
}