*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    display: flex;
    gap: 15px;
    border: 2px black solid;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.card-content{
    width: 100%;
    height: 100%;
}

.card-content p{
    margin-top:10px;
    margin-bottom: 10px;
}

.card-image img{
    width: 150px;
}

p.user-name{
    /* font-size: 18px; */
    font-weight: bold;
    margin-top: 30px;

}

p.user-comment{
    font-weight: 500;
}
/* .user-engagement{
    height: 100%;
} */
.user-engagement img{
    width: 30px;
}

p.user-engagement{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    
    margin-top: 30px;
}

.user-engagement span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
}


