@font-face {
    font-family: "quicksand";
    src: url("fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "quicksand-semibold";
    src: url("fonts/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "quicksand-medium";
    src: url("fonts/static/Quicksand-Medium.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    font-family: "quicksand";
    box-sizing: border-box;
}

body{
    background-color: #EEEEEE;
}

header{
    /* background-image: url("header\ pattern\ svg.svg"); */
    border-bottom: 2px #31B9E4 solid;
    padding-left: 10px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    background: url(header\ pattern\ svg.svg) #25313F;
    /* background-color: #25313F; */
    /* background-blend-mode: overlay; */
    /* background-repeat: no-repeat; */
    padding-top: 5px;
    padding-bottom: 5px;
}

main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    background-color: #EEEEEE;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;

}

input:focus , select:focus{
    outline: none;
    box-shadow: none;
}

.login-box{
    background-color: white;
    width: 488px;
    /* height: 50vh; */
    /* box-shadow: ; */
    padding: 20px;
    border-top: 3px #31B9E4 solid;
}

.login-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* font-weight: ; */
    font-size: 20px;
    font-family: "quicksand-medium";
}

.login-title>img{
    position: absolute;
    left: 0;
}

form{
    /* background-color: aqua; */
    margin-top: 34px;
}
.school-radio{
    display: flex;
    gap: 50px;
    /* font-family: "quicksand-medium"; */
}

.school-radio p{
    font-family: "quicksand-medium";
}
.school-radio-btn{
    display: flex;
    gap: 10px;
}
.school-radio-btn input[type="radio"]{
    accent-color: green;
    height: 20px;
    width: 20px;
    
}

.dropdown select{
     border: none;
     appearance: none;
     border-bottom: 1px solid #E7E7E7;
     width: 100%;
     font-family: 'quicksand-medium';
     font-size: 16px;
     margin-top: 5px;
     /* margin-bottom: 10px; */
     background-image: url('icons/arrow-down.svg');
     background-repeat: no-repeat;
     background-position: right ;
     padding-bottom: 5px;

}

/* form>div{
    margin-bottom: 20px;
} */

.dropdown{
    margin-bottom: 36px;
}

.dropdown label{
    font-size: 12px;
    color: gray;
}

.username > input{
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    font-size: 16px;
}

.username  a{
    /* background: none; */
    border: none;
    color: #1F7A54;
    /* position: absolute; */
}

.password a{
    color: #1F7A54;
}

.username{
    width: 100%;
    text-align: right;
}


/* .password > input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
}
.password{
    text-align: right;
} */

.username{
    margin-top: 56px;
}

.password{
    margin-top: 33px;
}

.password-wrapper{
    width: 100%;
    background-color: azure;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.password-wrapper input{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid gray; */
    font-size: 16px;
    padding-right :40px;
        padding-bottom: 5px;
        padding-top: 5px;
    border-bottom: 1px solid #E7E7E7;
    padding-left: 5px;
}



.preview-icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.forgot-password-wrapper{
    width: 100%;
    text-align: right;
}

.rememberme{
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:3px;
}
.rememberme input[type="checkbox"]{
    accent-color: green;
    width: 15px;
    height: 15px;
}

.username input[type="text"],.password input[type="password"]{
    font-family: "quicksand-medium";
}

.submit-btn{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.submit-btn button{
    width: 200px;
    height: 40px;
    background-color: #3FD28B;
    border: none;
}

.seperator{
    width: 1px;
    border: 1px gainsboro solid;
    height: 18px;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #1F7A54;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    padding: 5px;
    background-color: #E0E1E1;
}