@font-face {
    font-family: "quicksand";
    src: url("../../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "quicksand-semibold";
    src: url("../../fonts/static/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "quicksand-medium";
    src: url("../../fonts/static/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "quicksand-bold";
    src: url("../../fonts/static/Quicksand-Bold.ttf");
}
