.announcements-content-wrapper{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
 
    width:315px;
    background-color: white;
    right: 0;
    top:43px;
    z-index: 2;
    color:$textColor4;
    font-family: "quicksand-medium";
    box-shadow: 0px 13px 20px rgba(0,0,0,0.2392156863);
 
    &:hover{
        cursor: pointer;
    }
    
    .announcements-content{
        max-height: 531px;
        overflow-y: scroll;
        .unread{
            background-color: $backgroundColor4;
        }
 
        .announcement-component{
            border: 1px $borderColor solid;
            padding: 16px;
            position: relative;
            &:hover{
                cursor: pointer;
            }
 
            .read-logo{
                position: absolute;
                right:0;
                margin-right: 16px;
                width: 15px;
            }
 
            .pa{
                font-size: 12px;
                span{
                    color:$textColor5;
                }
            }
 
            .content{
                font-size:14px;
                padding-right: 22px;
                @include line-clamp(2);
                margin-top: 8px;
            }
 
            .sub-content{
                font-size: 12px;
                width: 100%;
                margin-top:8px;
                >span{
                    color:$textColor5;
                }
 
                
            }
 
            .time-and-attachment{
                display:flex;
                justify-content: space-between;

                .attachment{
                    @include flexCenter;
                    gap:3px;
                    >img{
                        width: 15px;
                    }
                }
 
            }
 
 
        }
    }
 
    .show-all{
        width: 100%;
        height: 48px;
        box-shadow: 0px 1px 6px #0000003D;
        @include flexCenter;
        // gap :15px;
        color: $textColor3;
        position: relative;
 
        .seperator2{
            position: absolute;
            left:50%;
            right: 50%;
            height: 30px;
            width: 1px;
            background-color: #0000003D;
        }
 
        a{
            text-decoration: none;
            color: inherit;
            width: 50%;
            @include flexCenter;
        }
    }
}
 
.announcements-content-wrapper.show{
    max-height: 582px;
}
 